.card-total {
  background-color: var(--color-card-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  border-radius: 0.25rem;

  &--facebook {
    border-top: 0.25rem solid $color-facebook;
  }
  &--twitter {
    border-top: 0.25rem solid $color-twitter;
  }
  &--instagram {
    background: linear-gradient(var(--color-card-bg), var(--color-card-bg)),
      $color-instagram;
    border-top: 0.25rem solid transparent;
    background-repeat: no-repeat;
    background-origin: padding-box, border-box;
  }
  &--youtube {
    border-top: 0.25rem solid $color-youtube;
  }

  &__network {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    margin-right: 1rem;
  }

  &__handle {
    color: var(--color-text-secondary);
    font-weight: $font-weight-bold;
    font-size: 0.9rem;
  }

  &__total-followers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number {
    font-size: 3rem;
    font-weight: $font-weight-bold;
    color: var(--color-text-primary);
  }

  &__text {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    color: var(--color-text-secondary);
  }

  &__daily {
    font-size: 0.75rem;
    font-weight: $font-weight-bold;
  }
}
