.card-total {
  background-color: var(--color-card-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  border-radius: 0.25rem;
  border-top: 0.25rem solid deeppink;
  width: $card-width-big;

  @media (max-width: 20em) {
    width: 40%;
  }

  &__network {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    margin-right: 1rem;
  }

  &__handle {
    color: var(--color-text-secondary);
    font-weight: $font-weight-bold;
  }

  &__total-followers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number {
    font-size: 3rem;
    font-weight: $font-weight-bold;
    color: var(--color-text-primary);
  }

  &__text {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    color: var(--color-text-secondary);
  }

  &__daily {
    font-size: 0.75rem;
    font-weight: $font-weight-bold;
  }
}
