*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--color-bg-secondary) 30%,
    var(--color-bg-primary) 30%
  );
}
