*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--color-bg-secondary) 30vh,
    var(--color-bg-primary) 30vh
  );

  @include respond(tab-port) {
    background-image: linear-gradient(
      to bottom,
      var(--color-bg-secondary) 40vh,
      var(--color-bg-primary) 40vh
    );
  }

  @include respond(phone) {
    background-image: linear-gradient(
      to bottom,
      var(--color-bg-secondary) 50vh,
      var(--color-bg-primary) 50vh
    );
  }
}
